@import '../Tokens/common';

.skip-link {
  display: inline-block;
  padding: $spacing-sm * 2;
  transition: opacity $duration-sm ease-in-out;
  border-radius: $bpk-border-radius-sm;
  background-color: $bpk-color-panjin;
  color: white;
  font-weight: bold;
  text-decoration: none;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  // We want the skiplink to remain visible for a short period of time after it is blurred so that
  // a user tabbing quickly has a chance to see that it appeared
  transition-delay: 0.2s;

  @include focus-style;

  &:focus-within,
  &:focus {
    transition: none;
    opacity: 1;
    transition-delay: 0;
  }
}
